html{border:0;margin:0;padding:0;font-size:0.9em;}
body{font-family: Arial,Helvetica Neue,Helvetica,sans-serif;color:#666;}
h3,h4,h5{margin:0;width:100%;}
input,textarea{font-family:monospace,monospace;}
textarea{box-sizing:border-box;width:100%;height:10em;font-size:.8em;margin:0;padding: 4px;}
.note {color:#000;font-family:monospace,monospace;padding:4px 8px;}
.textInput{width:48px;}
.hex{margin:4px 0;}
.textInput_1{width:.75em;}
.output_2,.textInput_2{width:1.25em;}
.output_4,.textInput_4{width:2.25em;}
.output_8{width:4.25em;}
.reference{font-size:0.75em;vertical-align:super;}
#divWrapper{width:600px;margin:auto;}
#divContent>div{border:1px dashed #ccc;margin:8px 0;padding:4px;border-radius:2px;}
#divContent>div>h4{background-color:#eee;margin: 0 0 4px 0;padding:6px;width:auto;}
@media only screen and (max-width:600px){
  #divWrapper{width:100%;min-width:320px;}
  .spanLarge{display:none;}
  #selectVDC{display:block;}
}
#spanVersion{font-size:0.85em;color:#aaa;float:right;}
/*.unused needs to override ... other stuff*/
.unused{color:#aaa;display:block;}
.hidden{display:none;}